<div class="p-menu-border">
    <div class="p-menu-sidebar" [hidden]="isShowDiv">
        <ul class="mobile-menu">
            <li><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']">Home</a></li>
            <li><a href="" [routerLink]="['/me']" [routerLinkActive]="['is-active']">Me</a></li>
            <li><a href="" [routerLink]="['/skills']" [routerLinkActive]="['is-active']">Skills</a></li>
            <li><a href="" [routerLink]="['/resume']" [routerLinkActive]="['is-active']">Resume</a></li>
            <li><a href="" [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Projects</a></li>
            <li><a href="" [routerLink]="['/reviews']" [routerLinkActive]="['is-active']">Reviews</a></li>
            <li><a href="" [routerLink]="['/articles']" [routerLinkActive]="['is-active']">Articles</a></li>
            <li><a href="" [routerLink]="['/reach']" [routerLinkActive]="['is-active']">Reach</a></li>
            <li class="p-search"><img class="p-cursor" src="assets/img/search.png" alt="The icon for search" width="20" /></li>
            <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
        </ul>
    </div>
</div>