<section class="p-me">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="p-info col-sm-7">
                <h1 class="mt-5">About Me</h1>
                <p class="p-me-info mt-5">
                    Hi, I'm Bolanle Ayodeji, currently undergoing a postgraduate diploma degree program 
                    in computer science at the University of Lagos,I have a Bsc. in Botany at Obafemi 
                    Awolowo University, Ile-Ife.<br/>

                    My technical skills are products of self studies and I have 6 years experience working as 
                    a freelance software developer. I believe I have the abilities to function well as a back-end 
                    engineer.<br/>
                    
                    I have the ability to create back-end code that will add utility to everything the front-end
                     designer creates. I’m passionate about the impact my skills can have in the real world, and 
                     firmly believe that I can create innovative solutions to business processes and problems 
                     which will ultimately lead to a better user experience.
                </p>
                
            </div>
        </div>
    </div>
</section>
