<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
                <ul>
                    <li>&copy; Deji 2021</li>
                </ul>
                <ul>
                    <li><a href="#"><img class="p-cursor" src="assets/img/twitter.png" alt="The icon for twitter" width="20" /></a></li>
                    <li><a href="#"><img class="p-cursor" src="assets/img/facebook.png" alt="The icon for facebook" width="20" /></a></li>
                    <li><a href="#"><img class="p-cursor" src="assets/img/google-plus-logo.png" alt="The icon for google plus" width="20" /></a></li>
                    <li><a href="#"><img class="p-cursor" src="assets/img/linkedin.png" alt="The icon for linked in" width="20" /></a></li>
                    <li><a href="#"><img class="p-cursor" src="assets/img/medium.png" alt="The icon for medium" width="20" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
