<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
                <ul>
                    <li class="hamburger">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </li>
                    <li><img src="assets/img/search.png" alt="The icon for search" width="20" /></li>
                </ul>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Me</a></li>
                    <li><a href="">Skills</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Academics</a></li>
                    <li><a href="">Experience</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Reach</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
