<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-brand p-brand">
                        <li><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']"><span>A</span>B.</a></li>                    
                    </ul>
                    <!-- <a class="navbar-brand p-brand" href="#">ME.</a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse nav-links" id="navbarSupportedContent">
                        <ul class="nav justify-content-end collapse navbar-collapse" #navMenu>
                            <li class="nav-item"><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']">Home</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/me']" [routerLinkActive]="['is-active']">Me</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/skills']" [routerLinkActive]="['is-active']">Skills</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/resume']" [routerLinkActive]="['is-active']">Resume</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Projects</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/reviews']" [routerLinkActive]="['is-active']">Reviews</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/articles']" [routerLinkActive]="['is-active']">Articles</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/reach']" [routerLinkActive]="['is-active']">Reach</a></li>
                            <li class="nav-item"><img class="p-cursor" src="assets/img/search.png" alt="The icon for search" width="20" /></li>
                        </ul>          
                        <!-- <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-justify-sb">
                <ul class="p-brand">
                    <li><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']">ME.</a></li>                    
                </ul>
                <ul class="nav-links navbar-menu" #navMenu>
                    <li><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']">Home</a></li>
                    <li><a href="" [routerLink]="['/me']" [routerLinkActive]="['is-active']">Me</a></li>
                    <li><a href="" [routerLink]="['/skills']" [routerLinkActive]="['is-active']">Skills</a></li>
                    <li><a href="" [routerLink]="['/resume']" [routerLinkActive]="['is-active']">Resume</a></li>
                    <li><a href="" [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Projects</a></li>
                    <li><a href="" [routerLink]="['/reviews']" [routerLinkActive]="['is-active']">Reviews</a></li>
                    <li><a href="" [routerLink]="['/articles']" [routerLinkActive]="['is-active']">Articles</a></li>
                    <li><a href="" [routerLink]="['/reach']" [routerLinkActive]="['is-active']">Reach</a></li>
                    <li><img class="p-cursor" src="assets/img/search.png" alt="The icon for search" width="20" /></li>
                </ul>
                <ul class="show-menu-btn">
                    <li class="hamburger">
                        <a role="button" (click)="toggleNavbar()" #navBurger  class="navbar-burger burger" aria-label="menu" 
                            aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</header>




<!-- <header>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="navbar-brand p-brand">
                        <li><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']"><span>A</span>B.</a></li>                    
                    </ul>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse nav-links" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                        <ul class="navbar-nav mr-auto collapse navbar-collapse nav justify-content-between">
                            <li class="nav-item"><a href="" [routerLink]="['']" [routerLinkActive]="['is-active']">Home</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/me']" [routerLinkActive]="['is-active']">Me</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/skills']" [routerLinkActive]="['is-active']">Skills</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/resume']" [routerLinkActive]="['is-active']">Resume</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Projects</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/reviews']" [routerLinkActive]="['is-active']">Reviews</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/articles']" [routerLinkActive]="['is-active']">Articles</a></li>
                            <li class="nav-item"><a href="" [routerLink]="['/reach']" [routerLinkActive]="['is-active']">Reach</a></li>
                            <li class="nav-item"><img class="p-cursor" src="assets/img/search.png" alt="The icon for search" width="20" /></li>
                        </ul>          
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</header> -->