header{
    padding: 30px 0;
}

.navbar{
    background: transparent !important;
}

.navbar-brand li a{
    color: var(--white);
    font-weight: 700;
    font-size: 1.5em;
}

.navbar-brand li a span{
    padding: 5px;
    background-color: #FFC107;
    border: 1px solid var(--medGrey);
}

.hamburger{
    cursor: pointer;
}

.hamburger span{
    display: block;
    background: var(--white);
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
}

.hamburger span:last-child{
    margin-bottom: 0;
}

.hamburger span:nth-child(2){
    width: 10px;
}

.p-search{
    margin-left: 100px;
}

.nav-links ul{
    display: flex;
    align-items: center;
}

.nav-links ul li{
    padding: 0 10px;
}

/* header ul li:first-child{
    padding-left: 0;
}

header ul li:last-child{
    padding-right: 0;
} */

.nav-links ul li a{
    color: #FFC107;
    font-weight: 500;
    position: relative;
}

.nav-links ul li a:hover::after, .nav-links ul li a.is-active::after{
    content: '';
    background: var(--white);
    height: 3px;
    position: absolute;
    left: 1px;
    z-index: -1;
    top: 0;
    right: -3px;
}

@media screen and (min-width: 768px) {
    .hamburger span{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .navbar-menu .show-menu-btn span{
        display: block;
    }

    .nav-links li{
        display: none;
    }
}