<section class="p-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="p-side col-sm-7">
                <div class="row">
                    <div class="p-resume col-sm-12">
                        <span class="p-tag">Product Engineer</span>
                        <h1 class="p-intro"><span class="p-greetings">Hi'ya,</span> I'm <br/> Merlin</h1>
                        <a href="#" class="p-watch">Watch Resume <img src="assets/img/arrow_right.png" alt="the icon for readmore arrow" width="15" /></a>
                    </div>
                    <div class="p-details col-sm-7">
                        <a href="#"><img src="assets/img/phone-call.png" alt="the icon for phone" width="20" /> +234 81-800-848-96</a> <span>/</span>
                        <a href="#"><img src="assets/img/email.png" alt="the icon for email" width="20" /> ayodeji.bolanle@decagon.dev</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
