<section class="p-me">
    <div class="container">
        <div class="row">
            <div class="p-info col-sm-12">
                <h1 class="mt-5 mb-5">My portfolio</h1>
                <div class="row">
                  <!-- <div class="card-deck p-flex p-flex-justify-sb"> -->
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 20rem;">
                            <img class="card-img-top" src="/assets/img/portfolio1.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"><fa-icon [icon]="faLink" [ngStyle]="{'color': 'var(--lightGrey)'}"> </fa-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 20rem;">
                            <img class="card-img-top" src="/assets/img/portfolio2.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://mortalflix.herokuapp.com/"><fa-icon [icon]="faLink" [ngStyle]="{'color': 'var(--lightGrey)'}"> </fa-icon></a>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 20rem;">
                            <img class="card-img-top" src="/assets/img/portfolio3.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://digitalechoe.com/"><fa-icon [icon]="faLink" [ngStyle]="{'color': 'var(--lightGrey)'}"> </fa-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 20rem;">
                            <img class="card-img-top" src="/assets/img/portfolio4.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text mb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="https://agrobeam.com/"><fa-icon [icon]="faLink" [ngStyle]="{'color': 'var(--lightGrey)'}"> </fa-icon></a>
                            </div>
                        </div>                        
                    </div>
                  <!-- </div> -->
                </div>
                
                
            </div>
        </div>
    </div>
</section>
