<section class="p-reviews">
    <div class="container">
        <div class="row">
            <hr/>
            <div class="col-sm-5">
                <h5>Adeleke O. Gabriel</h5>
                <p>CEO, AMAA Golden Profile</p>
            </div>
            <div class="col-sm-7">
                <p class="p-me-info mb-2">
                    Hi, I'm Bolanle Ayodeji, currently undergoing a postgraduate diploma degree program 
                    in computer science at the University of Lagos,I have a Bsc. in Botany at Obafemi 
                    Awolowo University, Ile-Ife.
                </p>                
            </div>
            <hr/>
            <div class="col-sm-5">
                <h5>Samuel</h5>
                <p>CEO, Agrobeam inc.</p>
            </div>
            <div class="col-sm-7">
                <p class="p-me-info mb-2">
                    Hi, I'm Bolanle Ayodeji, currently undergoing a postgraduate diploma degree program 
                    in computer science at the University of Lagos,I have a Bsc. in Botany at Obafemi 
                    Awolowo University, Ile-Ife.
                </p>                
            </div>
            <hr/>
            <div class="col-sm-5">
                <h5>Dr. Oladeji</h5>
                <p>Director, CITS</p>
            </div>
            <div class="col-sm-7">
                <p class="p-me-info mb-2">
                    Hi, I'm Bolanle Ayodeji, currently undergoing a postgraduate diploma degree program 
                    in computer science at the University of Lagos,I have a Bsc. in Botany at Obafemi 
                    Awolowo University, Ile-Ife.
                </p>                
            </div>
            <hr/>
        </div>
    </div>
</section>
