<section class="p-me">
    <div class="container">
        <div class="row">
          <div class="p-info col-sm-12">
            <h1 class="mt-5 mb-5">My specialization</h1>
            <div class="row">
              <div class="card-deck p-flex p-flex-justify-sb">
                <div class="card p-flex-align-center" style="width: 18rem;">
                  <span><fa-icon [icon]="faCode" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                  <div class="card-body">
                    <h5 class="card-title mb-3">Front-End</h5>
                    <p class="card-text">Skilled in HTML, CSS, Javascript. This tools are the foundation tools for designing 
                      web applications and with them, I can build a web app from scratch. Also, with frameworks like React, 
                      Vue and now Angular, my skills acumen has increased.
                    </p>

                  </div>
                </div>
                <div class="card p-flex-align-center" style="width: 18rem;">
                  <span><fa-icon [icon]="faDatabase" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                  <div class="card-body">
                    <h5 class="card-title mb-3">Back-End</h5>
                    <p class="card-text">I build backend infrastructures that adds utility to front-end designs. From REST Apis to SOAP, 
                      I write optimimized, efficient and extensible codes using tools like PHP, Python(Django), Node(Express) and now C#. 
                      Furthermore I am proficient in Database Technologies such as MySQL, PostgreSQL and Mongodb.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
                <div class="card p-flex-align-center" style="width: 18rem;">
                  <span><fa-icon [icon]="faDesktop" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                  <div class="card-body">
                    <h5 class="card-title mb-3">Ui/Ux</h5>
                    <p class="card-text">Using Figma and Adobe XD, I can create prototypes for your software applications projects.

                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>                    
              </div>
            </div>
          </div>
        </div>       
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <circle-progress [percent]="90" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="HTML" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="80" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="CSS" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="70" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="Javascript" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="70" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="PHP" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="80" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="Python" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="60" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="Node" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
          <circle-progress [percent]="70" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5" 
            subtitleFontSize=11 titleFontSize=11 titleColor=#ffffff unitsColor=#ffffff subtitleColor=#A9A9A9
            subtitle="Figma" [outerStrokeColor]="'#FFC107'" [innerStrokeColor]="'#000000'" [animation]="true" 
            [animationDuration]="300">
          </circle-progress>
        </div>
      </div>
    </div>
</section>
