.card{
    background: transparent;
    border: 2px solid #FFC107;
}

.card p{
    font-size: 14px;
    text-align: justify;
}

.card span{
    font-size: 5em;
}

.card-title{
    text-align: center;
}

.progress{
    font-size: 11px;
}