<section class="p-me">
    <div class="container">
        <div class="row">
            <div class="p-info col-sm-12">
                <h1 class="mt-5 mb-5">My specialization</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 18rem;">
                            <span><fa-icon [icon]="faCode" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                            <div class="card-body">
                              <h5 class="card-title mb-3">Front End</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 18rem;">
                            <span><fa-icon [icon]="faDatabase" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                            <div class="card-body">
                              <h5 class="card-title mb-3">Back End</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card p-flex-align-center" style="width: 18rem;">
                            <span><fa-icon [icon]="faDesktop" [ngStyle]="{'color': '#FFC107'}"> </fa-icon></span>
                            <div class="card-body">
                              <h5 class="card-title mb-3">Ui/Ux</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                    </div>                    
                </div>
                
                
            </div>
        </div>
    </div>
</section>
