<section class="p-resume">
    <div class="container">
        <div class="row">
            <div class="p-info col-sm-12 mt-5">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card p-cursor">
                          <h1 class="heading">Education</h1>
                        <div class="card-body">
                            <h5 class="card-title">SPECIALIZATION COURSE</h5>
                            <small>Product Engineer</small>
                            <p class="card-text">Decagon Institue, Lagos</p>
                            <p class="card-text">2021-</p>
                            <p class="card-text pt-3">
                                • Trained by Decagon Institute in the art and science of Software Engineering.<br/>
                                • Trained in Agile Methodology, Scrum Fundamentals Certified, embarked on internship
                                training and completed numerous tasks and projects.<br/>
                            </p>
                            <hr/>
                            <h5 class="card-title">POST-DEGREE COURSE</h5>
                            <small>Postgraduate Diploma, Computer Science</small>
                            <p class="card-text">University of Lagos, Akoka, Lagos</p>
                            <p class="card-text">2020-2021</p>
                            <p class="card-text pt-3">
                                • Transitioned into the field of Computer Science after completing the entry level Postgraduate 
                                course and awarded a diploma.<br/>
                                • Wrote a Dissertation on Optimisation Effects of Data structures and Sorting Algorithms.<br/>
                            </p>
                            <hr/>
                            <h5 class="card-title">DEGREE COURSE</h5>
                            <small>Bachelor of Science Degree, Botany</small>
                            <p class="card-text">Obafemi Awolowo University, Ile-Ife</p>
                            <p class="card-text">2012-2017</p>
                            <p class="card-text pt-3">
                                • Tarined and well grounded in natural science and plant science.<br/>
                                • Wrote a Dissertation on Economic Importance of Pteridophytes.<br/>
                            </p>
                            <!-- <hr/> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                          <h1 class="heading">Experience</h1>
                        <div class="card-body">
                          <h5 class="card-title">Rabbi Institute of Technology</h5>
                          <p class="card-text">Technical Instructor</p>
                          <p class="card-text">2019-2020</p>
                          <p class="card-text pt-3">
                            • Collaborate with the managements and staffs to put 
                            the school on the tech map as one of tech-driven 
                            institution.<br/>
                            • Inbuilt standard level of ICT knowledge base in 
                            students of the institution.<br/>
                          </p>
                          <hr/>
                          <h5 class="card-title">Temperance College</h5>
                          <p class="card-text">Computer Instructor</p>
                          <p class="card-text" >2018-2019</p>
                          <p class="card-text pt-3">
                            • Introduced a more practical approach to ICT so as to create 
                            an easy-to-understand environment for students.
                          </p>
                          <hr/>
                          <h5 class="card-title">Amaa Golden Profile</h5>
                          <p class="card-text">Web Developer</p>
                          <p class="card-text">2016-2018</p>
                          <p class="card-text pt-3">
                            • Worked effeciently with design teams to ensure software
                            solutions elevated client-side experience. <br/>
                            • Implemented designs, including experimentation and multiple iterations.
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
